<!DOCTYPE html>
<html lang="en">

<head>
    <title>BeerStop</title>
    <%- include('./components/head') %>
</head>

<body>
    <header>
        <h1>BeerStop</h1>
        <h2 id="room-id"></h2>
    </header>
    <main>
        <p>Players (<span id="player-count"></span>/1)</p>
        <ol id="users"></ol>
        <button id="start-game">Start game</button>
    </main>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.10.1/qs.min.js" integrity="sha512-aTKlYRb1QfU1jlF3k+aS4AqTpnTXci4R79mkdie/bp6Xm51O5O3ESAYhvg6zoicj/PD6VYY0XrYwsWLcvGiKZQ==" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/src/client.js"></script>
</body>

</html>