<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <header>
        <section>
            <article>
                <h2>Playername</h2>
                <img src="./img/user.png" alt="" width="200">
            </article>
        </section>
    </header>
    <main>
        <h1>Red or black?</h1>
        <img src="./img/temp.png" alt="" width="200">
        <button>Red</button><button>Black</button>
        <div class="stats">
            <h3>Gulps</h3>
            <p>Playername: <span>18</span></p>
        </div>
    </main>
</body>

</html>