<!DOCTYPE html>
<html lang="en">

<head>
    <title>BeerStop | Create room</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./components/head') %>
</head>

<body>
    <main>
        <form action="/beerStop" id="account">
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Andre the Giant">

            <label for="roomId">Room ID</label>
            <input type="text" id="roomId" name="roomId" placeholder="0000" value="" min-length="1" max-length="4">

            <input type="submit" value="Start playing!">
        </form>
    </main>
</body>

</html>